{% set item = data['items'][' merchant-netizens']['products'][0] %}
{% set ticket1 = data['items'][' merchant-netizens']['ticket1'] %}
{% set ticket2 = data['items'][' merchant-netizens']['ticket2'] %}

<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Тренинг</title>
	<link rel="stylesheet" href="css/style.min.css">
</head>

<body>
	<!-- HEADER -->
	<header class="header">
		<div class="header__wrap">
			<div class="layout-center-wrapper">
				<div class="header__inner">
					<div class="header__left">
						<!-- <p class="header__author">Курс Веры Швед</p> -->
						<h1 class="header__title">Преображение. Стройность. Здоровье. Красота.</h1>
						<p class="header__slogan">Новая Я – Стройная, Здоровая, Молодая</p>
						<p class="header__date">{{data["event"]["date"]}}</p>
						<button type="button" class="template-btn" id="headerToPaymentBtn">
							<span>Принять участие</span>
						</button>
						{% if data['admin'] %}
						<!-- EDIT TEMPLATE -->
						<br><br><a href="/manager/info"><button class="template-btn" type="button" id="" onclick="">
								<span>Изменить описание</span>
							</button></a>
						<!-- EDIT TEMPLATE -->
						{% end %}
					</div>
					<!-- <div class="header__right">
						<img src="img/header-intro.png" alt="">
					</div> -->
				</div>
			</div>
		</div>

		<div style="background-image: url(img/header-bg.jpg);" class="header__bg-layout">
		</div>
	</header>

	<main>
		<!-- AUDIENCE -->
		<div class="audience">
			<div class="layout-center-wrapper">
				<h3 class="audience__title training-title">КОМУ БУДЕТ ПОЛЕЗЕН КУРС</h3>
				<ul class="audience__list">
					<li class="audience__item">
						<div class="audience__num"><span>1</span></div>
						<p class="audience__text">ТЕМ, КТО ХОЧЕТ ПОСТРОЙНЕТЬ и распрощаться с лишними килограммами раз и
							навсегда</p>
					</li>
					<li class="audience__item">
						<div class="audience__num"><span>2</span></div>
						<p class="audience__text">МАМАМ ПОСЛЕ РОДОВ для того, чтобы привести свое тело в комфортное
							состояние и форму</p>
					</li>
					<li class="audience__item">
						<div class="audience__num"><span>3</span></div>
						<p class="audience__text">ЕСЛИ ВАМ ЗАПРЕЩЕНЫ АКТИВНЫЕ ТРЕНИРОВКИ, опытные тренеры бережно
							проведут вас через комплексы специальных упражнений и разминок, которые возвратят вам
							подвижность и гибкость</p>
					</li>
					<li class="audience__item">
						<div class="audience__num"><span>4</span></div>
						<p class="audience__text">ЕСЛИ ВЫ ПЫТАЛИСЬ ПОХУДЕТЬ, НО ЖЕСТКИЕ ДИЕТЫ НЕ ДЛЯ ВАС, здесь вы
							обретете полезные навыки в питании и ощутите насколько они комфортны в повседневной жизни
						</p>
					</li>
					<li class="audience__item">
						<div class="audience__num"><span>5</span></div>
						<p class="audience__text">ЕСЛИ ВЫ НЕ МОЖЕТЕ РАБОТАТЬ НАД СОБОЙ В ОДИНОЧКУ, вас будут
							сопровождать опытные наставники и поддерживать команда единомышленников</p>
					</li>
				</ul>
			</div>
		</div>

		<div class="knowledge-small">
			<div class="layout-center-wrapper knowledge-small__inner">
				<div class="knowledge-small__description">
					<h3 class="knowledge__title training-title">Чему учат на курсе</h3>
					<div class="knowledge-small__p"><b>Онлайн курс «Преображение»</b> это 4 недели работы над собой,
						которые состоят из 4 блоков</div>
					<div class="knowledge-small__p">СТРОЙНОСТЬ</div>
					<div class="knowledge-small__p">ДВИЖЕНИЕ</div>
					<div class="knowledge-small__p">ФЕЙС-ЙОГА</div>
					<div class="knowledge-small__p">ЖЕНСКИЕ ПРАКТИКИ</div>
				</div>
				<div class="knowledge__img-wrap">
					<img src="img/about.png" alt="">
				</div>
			</div>
		</div>

		<!-- KNOWLEDGE -->
		<div class="knowledge">
			<div class="layout-center-wrapper">
				<h3 class="knowledge__title training-title">ЧТО ВЫ ПОЛУЧИТЕ</h3>
				<div class="knowledge__subtitle">«Преображение» - это трансформация общей работы организма от кончиков
					волос до пяток.</div>
				<div class="knowledge__inner">
					<div class="knowledge__block">
						<div class="knowledge__block-p"><span class="knowledge__underline">Блок №1</span> <span
								class="knowledge__bold">СТРОЙНОСТЬ</span> – Диагностика вашего питания. Еда- как основа
							того, как мы выглядим. Научитесь понимать, как то, что мы едим влияет на то, как мы
							выглядим. </div>
						<div class="knowledge__block-p">- Сбалансируете адекватный питьевой режим</div>
						<div class="knowledge__block-p">- Устраните основные дефициты вашего организма</div>
						<div class="knowledge__block-p">- Разберетесь с гормонами и поймете, как они влияют на вашу
							стройность</div>
						<div class="knowledge__block-p"><span class="knowledge__bold">Бонус:</span> Вкусное и полезное
							меню на каждый день без подсчета калорий</div>
					</div>

					<div class="knowledge__block">
						<div class="knowledge__block-p"><span class="knowledge__underline">Блок №2</span> <span
								class="knowledge__bold">ДВИЖЕНИЕ </span> – Комплекс упражнений на укрепление осанки и
							подвижность суставов . Профилактика последствий сидячего образа жизни.</div>
						<div class="knowledge__block-p">Вернёте себе гибкость и легкость в движениях</div>
						<div class="knowledge__block-p">Снимете мышечные зажимы и гипертонус</div>
						<div class="knowledge__block-p">Проработаете слабые мышцы, участвующие в поддержании осанки
						</div>
						<div class="knowledge__block-p"><span class="knowledge__bold">Бонус:</span> Тренировочный
							комплекс занятий на 15 минут от фитнес тренера</div>
					</div>

					<div class="knowledge__block">
						<div class="knowledge__block-p"><span class="knowledge__underline">Блок №3</span> <span
								class="knowledge__bold">ФЕЙС-ЙОГА</span> – Техники по омоложению лица с помощью
							гимнастики для лица. Практики. Упражнения.</div>
						<div class="knowledge__block-p">Познакомитесь с направлением фейс- йога и увидите результат в
							зеркале.</div>
						<div class="knowledge__block-p">Узнаете какие техники и упражнения помогут улучшить овал лица и
							красоту шеи.</div>
						<div class="knowledge__block-p">Освоите технику на уменьшение морщин на лбу, мешков под глазами
							и носогубной складки. </div>
						<div class="knowledge__block-p"><span class="knowledge__bold">Бонус:</span> Техники баночного и
							буккального массажа (глубокая проработка и разминание мышц лица через ротовую полость).
						</div>
					</div>

					<div class="knowledge__block">
						<div class="knowledge__block-p"><span class="knowledge__underline">Блок №4</span> <span
								class="knowledge__bold">ЖЕНСКИЕ ПРАКТИКИ</span> – Практики на пробуждение женского
							начала. Медитации. Дыхательные упражнения.</div>
						<div class="knowledge__block-p">Научитесь управлять стрессом</div>
						<div class="knowledge__block-p">Начнете радовать себя ежедневно и получать удовольствие от жизни
							каждую минуту</div>
						<div class="knowledge__block-p">Получите доступ к еженедельным прямым эфиры и разговорам</div>
						<div class="knowledge__block-p"><span class="knowledge__bold">Бонус:</span> Ежедневные
							медитативные практики «Расцветаю»</div>
					</div>
				</div>
			</div>
		</div>

		<!-- MIDDLE TITLE -->
		<div class="middle-title" style="background-image: url(img/header-bg.jpg);">
			<div class="layout-center-wrapper">
				<div class="middle-title__inner">
					<div>
						<h1 class="middle-title__text">Преображение. Стройность. Здоровье. Красота.</h1>
					</div>
					<button type="button" class="template-btn" id="middleToPaymentBtn">
						<span>Принять участие</span>
					</button>
				</div>
			</div>
		</div>

		<!-- CAUCH BLOCK -->
		<div class="coach-block">
			<div class="layout-center-wrapper">
				<h3 class="coach-block__title">В конце онлайн курса вы получите</h3>
				<div class="coach-block__inner">
					<div class="coach-block__img-wrap">
						<img src="img/author.png" alt="">
					</div>
					<div class="coach-block__desc-wrap">
						<p class="coach-block__text">- Минус в объемах и на весах до 8 кг за месяц</p>
						<p class="coach-block__text">- Заметное уменьшение (или полное исчезновение) целлюлита</p>
						<p class="coach-block__text">- Улучшение физического и психологического здоровья </p>
						<p class="coach-block__text">- Повышение энергии и продуктивности в ваших ежедневных задачах</p>
						<p class="coach-block__text">- Понимание, как питаться без подсчетов ккал и не набирать вес</p>
						<p class="coach-block__text">- Веру в себя, свои силы и намерения во всех сферах жизни</p>
						<p class="coach-block__text">- Техники и упражнения для сохранения молодости и красоты лица, шеи
							и зоны декольте</p>
						<p class="coach-block__text">- При регулярном занятии фитнесом: избавитесь от боли в спине и
							шее, улучшите осанку и походку, нормализуете сон и ощутите легкость и силы своих суставов.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="course">
			<div class="layout-center-wrapper">
				<h3 class="coach-block__title">Как будет проходить Онлайн Курс?</h3>
				<div class="course__title">Марафон – это настоящий вызов себе, с помощью которого вы совершите
					прорыв в раскрытии своего природного потенциала, улучшите самочувствие и здоровье, вернете
					красоту, легкость и молодость и стройность.</div>
				<div class="course__p">*После оплаты вы получите доступ в закрытый чат и информационный канал
					телеграмм. Во время прохождения курса, вы будете общаться с кураторами и другими
					целеустремленными участниками, получать задания и сдавать отчеты;</div>
				<div class="course__p">*Получите меню из простых и доступных продуктов на каждый день;</div>
				<div class="course__p">*Три раза в неделю онлайн встречи с нашими экспертами;</div>
				<div class="course__p">*Ежедневные занятия с фитнес тренером Верой Швед;</div>
				<div class="course__p">*Познакомитесь с техникой лимфатического массажа;</div>
				<div class="course__p">*Занятия йогой для лица;</div>
				<div class="course__p">*Онлайн встречи с диетологом;</div>
				<div class="course__p"> <b>Полную программу марафона «Преображение» вы получите после оплаты.</b>
				</div>
			</div>
		</div>
	</main>

	<!-- FOOTER -->
	<footer class="footer" style="background-image: url(img/footer-bg.jpg);">
		<div class="layout-center-wrapper">
			<div class="footer__inner">
				<div class="footer__tarif-wrap">
					<h3 class="footer__title">Тариф START включает:</h3>

					<ul class="footer__list">
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Знания о ПП и нужных основных и дополнительных продуктах</p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Полезные техники поддержания здорового организма и бодрости духа</p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Дополнительные занятия по FACE YOGA с Светланой Пяркинен</p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Ежедневные утренние разминки и помощь кураторов в онлайн</p>
						</li>
					</ul>
				</div>
				<!-- PAYMENT BLOCK -->
				<div class="payment" id="paymentBlock">
					<div class="payment__header">
						<span class="payment__text">ТАРИФ START:</span>
						<span class="payment__amount">{{ticket1['price']}} ₽</span>
					</div>

					{% if lead_promo %}
					<div class="payment__inner">
						<div class="payment__btns-wrap">
							<button class="template-btn" type="button" id="cardBtn">
								<span>Оплатить картой</span>
							</button>

							<img src="img/visa-logo.svg" alt="visa">
						</div>
						<div class="payment__btns-wrap">
							<button class="template-btn" type="button" id="ntzdBtn">
								<span>Оплатить в ntz</span>
							</button>
							<img src="img/ntz-logo.svg" alt="visa">
						</div>
					</div>

					{% else %}
					<div class="non-ref">
						<p class="non-ref__text">Для совершения покупки Вам необходима реферальная ссылка. Для её
							получения обратитесь к тому, кто Вам посоветовал этот товар или найдите ссылку в инстаграме
							по хештегу
							<a href="https://www.instagram.com/explore/tags/netizensteam/">#netizensteam</a>
						</p>
					</div>
					{% end %}

				</div>
			</div>
		</div>

		<!-- GOODS BLOCK ! IMPORTANT-->

		<input type="hidden" name="item_number" id="{{ticket1['code']}}" class="items_quantity" value=1 min=1 disabled
			data-price="{{ticket1['price']}}" data-old_price="{{ticket1['old_price']}}" data-name="{{ticket1['name']}}"
			data-image="{{ticket1['image']}}">

		<input type="hidden" name="item_number" id="{{ticket2['code']}}" class="items_quantity2" value=1 min=1 disabled
			data-price="{{ticket2['price']}}" data-old_price="{{ticket2['old_price']}}" data-name="{{ticket2['name']}}"
			data-image="{{ticket2['image']}}">

		<!-- GOODS BLOCK ! IMPORTANT-->

		<!-- POLICY BLOCK -->
		<div class="footer__policy">
			<div class="layout-center-wrapper">
				<div class="footer__policy-inner">
					<span class="footer__policy-left">&copy; Official partner of the Netizens ecosystem</span>
					<div class="footer__policy-right">
						<a href="docs/политика конфиденциальности.pdf" class="footer__link" download="">Политика
							конфиденциальности</a>
					</div>
				</div>
			</div>
		</div>

		<div class="form__overlay" id="formOverlay"></div>
		<div class="form__overlay" id="formOverlay2"></div>

		<!-- RUR FORM -->
		<div class="form__wrap" id="paymentFormRUR">
			<form action="#" class="form">
				<span class="form__close-btn" id="closeRurForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userNameFormRUR">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhoneFormRUR">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmailFormRUR">

					<button id="send_rur" class="form__btn template-btn noselect" type="button"
						onclick="addOrder('FormRUR')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>
				</div>
			</form>
		</div>

		<!-- NTZ FORM -->
		<div class="form__wrap" id="paymentFormNTZ">
			<form action="#" class="form">
				<span class="form__close-btn" id="closeNTZForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="login" value="{{lead_login}}" type="text" placeholder="Ваш логин в ntz.team" required
						class="form__field" id="userLoginFormNTZ">

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userNameFormNTZ">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhoneFormNTZ">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmailFormNTZ">

					<button id="send_ntz" class="form__btn template-btn noselect" type="button"
						onclick="addOrder('FormNTZ')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>

					{% if lead_promo %}
					<span class="form__control">Контрольное слово: {{lead_promo}}</span>
					{% end %}
				</div>
			</form>
		</div>

		<!-- RUR FORM -->
		<div class="form__wrap" id="payment2FormRUR">
			<form action="#" class="form">
				<span class="form__close-btn" id="close2RurForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userName2FormRUR">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhone2FormRUR">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmail2FormRUR">

					<button id="send_rur2" class="form__btn template-btn noselect" type="button"
						onclick="addOrder2('FormRUR')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>
				</div>
			</form>
		</div>

		<!-- NTZ FORM -->
		<div class="form__wrap" id="payment2FormNTZ">
			<form action="#" class="form">
				<span class="form__close-btn" id="close2NTZForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="login" value="{{lead_login}}" type="text" placeholder="Ваш логин в ntz.team" required
						class="form__field" id="userLogin2FormNTZ">

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userName2FormNTZ">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhone2FormNTZ">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmail2FormNTZ">

					<button id="send_ntz2" class="form__btn template-btn noselect" type="button"
						onclick="addOrder2('FormNTZ')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>

					{% if lead_promo %}
					<span class="form__control">Контрольное слово: {{lead_promo}}</span>
					{% end %}
				</div>
			</form>
		</div>

	</footer>
	<script src="js/jquery.min.js"></script>
	<script src="js/base.js"></script>
	<script src="js/api.js"></script>

</body>

</html>